
* { margin: 0; padding: 0; }

body { 
	background-color: rgba(36, 36, 36, 1);

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#page-wrap { width: 90%; margin: 2% 5% 2% 5%; }

table {
	text-align: center;
	margin-right:auto;
	margin-left:auto;
 	max-width:1000px;

	font-family: "Satisfy", cursive;
	font-size: 17px;
	font-weight: lighter;
 }

th {
	border: 2px solid rgba(0,0,0,0.85);
	padding: 0px 0px ;
	border-radius: 1px;

	color:rgba(255,255,255,1);
	text-shadow:
		-1px 0px 1px rgba(0,0,0,0.8),
		0px -1px 1px rgba(0,0,0,0.8),
		0px 0px 1px rgba(0,0,0,1),
		1px 0px 1px rgba(0,0,0,1),
		0px 0px 1px rgba(0,0,0,1),
		0px 1px 1px rgba(0,0,0,1),
		1px 1px 1px rgba(0,0,0,1),
		0px 0px 1px rgba(0,0,0,1),
		0px 0px 12px rgba(255,255,255,0.2);
		
}

th.defending { white-space: nowrap; height:20px; width:24px;}
th.defending > div { transform: rotate(270deg); }
th.defending > div > span { margin:-120px; padding:-120px; }

td { border: 1px solid rgba(255,255,230,0.2); padding: 0px 0px; min-width: 20px; }
td.self { border: 2px solid rgba(0,0,0,1);
		  background-color: rgba(0,0,0,0);}


#legend {
	background-color: rgba(30,30,30,1);
	color: rgba(255, 255, 238, 1);
	text-shadow:1px 1px 2px rgba(0,0,0,0.9);
	width:120px;
	white-space: nowrap;

}

#legend > div.triangle {
	width:0;
	height:0;
	border-bottom: 50px solid rgba(255,255,238,0.9);
	border-right: 120px solid transparent;
}

#legend > div.triangle > div.transparent {
	display:inline;
	opacity:0;
	color:rgba(0,0,0,0);
}
#nve { color: rgba(0,0,0,1); background-color: rgba(220, 65, 25, 0.8); }
#se { color: rgba(0,0,0,1); background-color: rgba(180, 210, 17, 0.8); }
#ne { color: rgba(255,255,238,0.95); background-color: rgba(0,0,0,0.8); }

#nor { background-color: #A6A695; }
#fir { background-color: #FF6043; }
#wat { background-color: #52A8FF; }
#ele { background-color: #FFD452; }
#gra { background-color: #77CC55; }
#ice { background-color: #7DD4FF; }
#fig { background-color: #C56E60; }
#poi { background-color: #B76EA8; }
#gro { background-color: #D0BE8B; }
#fly { background-color: #9AA8FF; }
#psy { background-color: #E88B7B; }
#bug { background-color: #B5C43F; }
#roc { background-color: #C5B77D; }
#gho { background-color: #7676B8; }
#dra { background-color: #8B7DF1; }
#dar { background-color: #8B6E60; }
#ste { background-color: #B7B7C5; }
#fai { background-color: #EFA6EF; }

.hover { background-color: rgba(200,200,180,0.1); }
.clicked { background-color: rgba(255,255,238,1); }